html {
  margin: 0;
  padding: 0;
  font-size: 14px;
}
article, aside {
  margin-bottom: 2rem;
}
h1 {
  font: 2.2rem/2 "Arial", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 1.5rem;
}
.podzagolovok {
  font: 0.9rem "Arial", sans-serif;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 0.5rem;
}
.menunav {
  display: inline-block;
  maggin: 0.5rem auto;
}
.matr-form {
  padding-bottom: 1.2rem;
}
.scheme {
  border: 2px solid #161616;
  max-width: 450px;
  max-height: 450px;
  align: center;
  margin: auto;
}
