html {
  margin: 0;
  padding: 0;
  font-size: 14px;
}
article, aside {
  margin-bottom: 2rem;
}
h1 {
  font: 2.2rem/2 "Arial", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 1.5rem;
}
.podzagolovok {
  font: 0.9rem "Arial", sans-serif;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 0.5rem;
}
.menunav {
  display: inline-block;
  maggin: 0.5rem auto;
}
.matr-form {
  padding-bottom: 1.2rem;
}
.scheme {
  display: block;
  border: 2px solid yellow;
  width: 550px;
  height: 550px;
  max-width: 850px;
  max-height: 850px;
  align: center;
  margin: auto;
}

.sq-abcd {
  position: relative;
  float: center;
  width: 350px;
  height: 350px;
  border: 2px solid grey;
}
.sq-fghi {
  position: relative;
  float: center;
  width: 350px;
  height: 350px;
  border: 2px solid red;
  transform: rotate(45deg);
}
.round-stml {
  position: relative;
  float: center;
  width: 300px;
  height: 300px;
  border: 2px solid black;
  border-radius: 50%;
}



.saha {
  background-color: #ba8fba!important;
  color: white;
  font-weight: 900;
}
.ajna {
  background-color: #001179!important;
  color: white;
  font-weight: 900;
}
.vishu {
  background-color: #85bedb!important;
  color: white;
  font-weight: 900;
}
.anah {
  background-color: #06a201!important;
  color: white;
  font-weight: 900;
}
.mani {
  background-color: #faff27!important;
  color: black;
  font-weight: 900;
}
.svadhi {
  background-color: #f68e15!important;
  color: white;
  font-weight: 900;
}
.mula {
  background-color: #b80000!important;
  color: white;
  font-weight: 900;
}
.seven {
  background-color: #e2e2e2!important;
  color: black;
  font-weight: 900;
}






